.list-item {
  font-weight: bolder;
  font-size: 21px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(223, 223, 223);
}

.description {
  flex: 1;
}

.date {
  text-align: center;
}

.amount {
  flex: 1;
  text-align: right;
}
