.title-box {
  text-align: center;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #bbb;
}

.title {
  margin-bottom: 20px;
}

.container-main {
  padding: 30px 40px;
  border-radius: 7%;
  margin: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

h1 {
  color: rgb(73, 73, 73);
  margin: 0;
  margin: 10px 0 10px;
}

h3 {
  padding-bottom: 5px;
  margin-bottom: 12px;
  text-align: center;
  color: rgb(73, 73, 73);
}

h4 {
  margin: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

/* .form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin: auto;
} */

.new-entry {
  margin-top: 30px;
}

.budget-remain-expense {
  background: linear-gradient(to right, rgb(66, 84, 168), rgb(111, 92, 171));
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  border-radius: 40px;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.budget-remain-expense > div {
  flex: 1;
  text-align: center;
}

.bg-dark {
  background-color: rgb(73, 73, 73);
  margin: 0 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;
  transform-origin: bottom;
}

.bg-dark:hover {
  transform: scale(1.09);
}

label {
  display: inline-block;
  font-weight: bolder;
}

.history {
  border-bottom: 1px solid #bbb;
}
